version: "2"
services:
  app-sails:
    image: wadman/circleci-demo:latest
    expose:
      - "1337"
    command: sails lift
    depends_on:
      - db-mongo
    networks:
      - backend
      - frontend

  db-mongo:
    image: mongo
    command: mongod
    volumes:
      - mongodata:/data/db
    expose:
      - "27017"
    networks:
      - backend

  app-backoffice:
    image: wadman/circleci-demo-bo
    build:
      context: .
      dockerfile: dockerfile-test
    command: tail -f /dev/null
    depends_on:
      - app-sails
    networks:
      - frontend

volumes: 
  mongodata:

networks:
  frontend:
    driver: bridge
  backend:
    driver: bridge